body {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 100;
    margin-right: 0;
}

h3 {
    font-size: 15;
    text-align: center;
}

h4 {
    font-size: 14;
}

p {
    font-size: 13;
}
