body {
    background: mistyrose;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: cornflowerblue;
    text-align: center;
}
h2 {
    color: cadetblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
h3 {
    text-align: center;
}
p {
    color: darkslategray;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}
span {
    text-align: center;
}