body {
    background: lavender;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: olive;
    text-align: center;
}
h2 {
    color: darkseagreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
h3 {
    text-align: center;
}
p {
    color: darkslategray;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

img {
    display: block;
    max-width: 50%;
    height: auto;
    margin: 0 auto;
    
}
span {
    text-align: center;
}